:host {
    display: block;
    background: #DDDDDD;
    background-origin: border-box;
}

:host(.targetable) {
    background: #99FF99;
    cursor: pointer;
}

:host(.targetable):hover {
    background: #FF9999;
}