<div *ngIf="playerControlled">
<p-button (onClick)="use($event)" [disabled]="!canBeUsed"
    styleClass="p-button-secondary p-button-sm p-button-raised p-button-text">
    <strong>{{skill!.name}}:</strong><span *ngFor="let item of description">{{item}} </span>
</p-button>
<p-button *ngIf="currentlyUsing()" (onClick)="cancel()" styleClass="p-button-secondary p-button-sm p-button-raised p-button-text">&times;</p-button>
</div>
<p *ngIf="!playerControlled"><strong>{{skill!.name}}: </strong><span *ngFor="let item of description">{{item}} </span></p>
