h1 {
    text-align: center;
}

:host {
    font-family: monospace;
}

#debugMenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-around;
    justify-content: center;
}

#debugMenu p-button {
    display: block;
    margin: 2px;
}

.creditsButton {
    position: absolute;
    top: 8px;
    left: 8px;
}