:host {
    display: flex;
    align-items: center;
    justify-content: center;
}

table {
    font-size: 24px;
}

#d-pad {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#d-pad p-button {
    margin: 8px;
}

#sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#areaInfo {
    display: flex;
    flex-direction: column;
}

#areaInfo h2 {
    text-align: center;
}