<div id="upper">
    <div *ngFor="let biome of biomes()" class="biome" (click)="moveTank(biome)">
        <h3>{{ biome.name }}</h3>
        <p>{{ progress(biome).percentExplored }}% explored</p>
        <p class="player" *ngIf="biome == playerLocation()">@</p>
    </div>
</div>
<p-button (onClick)="enterCombat()">Go Hunting</p-button>
<p-button *ngFor="let city of cities()" (onClick)="enterCity(city)">Go To {{ city.name }}</p-button>
<p-button *ngIf="bossFightAvailable(playerLocation())" (onClick)="enterCombat(true)">Enter Alpha Hive</p-button>
<div id="inventoryWrapper">
    <h2>Inventory</h2>
    <app-inventory-screen flex="true"></app-inventory-screen>
</div>