<h1>{{ city().name }}</h1>
<h2>Money: {{inventory().credits | formatInfinity}}&curren;</h2>
<div>
    <h2>Resources</h2>
    <div class="resource" *ngFor="let resource of resources()">
        <p><strong>{{ resource.name }}:</strong> {{ resource.description }} (Owned: {{ inventory().resources.getAmount(resource) }})</p>
        <div class="buy">
            <p-button *ngFor="let amount of [1, 10, 100]" (onClick)="buy(resource, amount)" [disabled]="!canBuy(resource, amount)">Buy {{amount}} for {{city().getBuyPrice(resource) * amount}}&curren;.</p-button>
        </div>
        <div class="sell">
            <p-button *ngFor="let amount of [1, 10, 100]" (onClick)="sell(resource, amount)" [disabled]="!canSell(resource, amount)">Sell {{amount}} for {{city().getSellPrice(resource) * amount}}&curren;.</p-button>
        </div>
    </div>
</div>
<div>
    <h2>Schematics</h2>
    <p *ngIf="city().schematics.length === 0">None</p>
    <div *ngFor="let listing of city().schematics">
        <app-unit-species [species]="listing[0]"></app-unit-species>
        <p-button *ngIf="!inventory().schematics.includes(listing[0])" (onClick)="buySchematic(listing)" [disabled]="!canBuySchematic(listing[1])">Buy {{listing[0].name}} for {{listing[1]}}&curren;.</p-button>
        <p-button *ngIf="inventory().schematics.includes(listing[0])" [disabled]="true">Already Owned.</p-button>
    </div>
</div>
<p-button (onClick)="leave()" styleClass="p-button-rounded">Stop Transacting</p-button>
