<h1>{{ city().name }}</h1>
<h2>Money: {{inventory().credits | formatInfinity}}&curren;</h2>
<h2>Resources</h2>
<div *ngFor="let resource of resources()">
    <p><strong>{{ resource.name }}:</strong> {{ resource.description }} (Owned: {{ inventory().resources.getAmount(resource) }})</p>
    <div class="buy">
        <p-button *ngFor="let amount of [1, 10, 100]" (onClick)="buy(resource, amount)" [disabled]="!canBuy(resource, amount)">Buy {{amount}} for {{city().getBuyPrice(resource) * amount}}.</p-button>
    </div>
    <div class="sell">
        <p-button *ngFor="let amount of [1, 10, 100]" (onClick)="sell(resource, amount)" [disabled]="!canSell(resource, amount)">Sell {{amount}} for {{city().getSellPrice(resource) * amount}}.</p-button>
    </div>
</div>
<p-button (onClick)="leave()" styleClass="p-button-rounded">Stop Transacting</p-button>
