.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20vh;
    overflow-y: scroll;
}

.flex > p {
    margin: 2px 0;
}

p, h2, h3 {
    text-align: center;
}

.columns {
    display: flex;
    justify-content: space-between;
}

.columns > div {
    flex-grow: 1;
    flex-basis: 0;
}