:host {
    display: flex;
    justify-content: space-around;
    overflow-y: hidden;
    height: auto;
    align-items: stretch;
    height: calc(100vh - 135px);
}

.battlefield-section {
    overflow-y: auto;
    overflow-x: hidden;
}