:host {
    display: block;
    border-left: 4px solid gray;
    padding: 2px 16px;
}

:host(.targetable) {
    background: #99FF99;
    cursor: pointer;
}

:host(.targetable):hover, :host.targeted {
    background: #FF9999;
}

#units {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
}