<h3> {{species.name}} <app-status-emoji *ngFor="let status of species.statuses" [status]="status"></app-status-emoji></h3>
<p><span pTooltip="Health" tooltipPosition="top">❤️&#xFE0E;</span> {{species.health | formatInfinity}} <span pTooltip="Actions" tooltipPosition="top">⚡&#xFE0E;</span> {{species.actionsPerTurn | formatInfinity}}</p>
<p><strong>Build Cost:</strong> {{species.buildCost.toString() | defaultMessage:"Free"}}</p>
<h4>Skills</h4>
<ul id="skills">
    <li *ngFor="let skill of species.skills"><app-skill [skill]="skill" [canBeUsed]="false"></app-skill></li>
</ul>